[submodule "Syphon/vendor/spdlog"]
	path = Syphon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Syphon/vendor/GLFW"]
	path = Syphon/vendor/GLFW
	url = https://github.com/benfc1993/glfw.git
